openapi: 3.0.3
info:
  title: MIddleware
  version: 1.0.0
  contact: {}
servers:
  - url: https://gemsupgrade.gemscloud.app
  - url: https://central-request.ubagroup.com
paths:
  /faan-pfs-middleware/api/bank-accounts/fetch-all:
    get:
      tags:
        - Bank Accounts
      summary: Bank Account
      description: >-
        This endpoint get the list of avaliable bank accounts and their acronyms
        on FAAN.
      operationId: bankAccount
      responses:
        '200':
          description: Success Response
          headers:
            Content-Encoding:
              schema:
                type: string
                example: gzip
            Date:
              schema:
                type: string
                example: Tue, 15 Apr 2025 10:49:04 GMT
            Server:
              schema:
                type: string
                example: Microsoft-IIS/10.0
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            X-Powered-By:
              schema:
                type: string
                example: ASP.NET
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          example: FBN-ABUJA-SAL A/C ...000076/00
                        'no':
                          type: string
                          example: BNK-10001
                    example:
                      - name: FBN-ABUJA-SAL A/C ...000076/00
                        'no': BNK-10001
                      - name: FBN- ABUJA REVENUE ACCOUNT
                        'no': BNK-10002
                      - name: FBN- ABUJA(PSC REVENUE A/C)
                        'no': BNK-10003
                      - name: CBN  A/C --Abuja
                        'no': BNK-10004
                      - name: UBN-PSC A/C-ABUJA
                        'no': BNK-10005
                      - name: OCEANIC BANK ABUJA REV.AC'5420
                        'no': BNK-10006
                      - name: FCMB ABUJA MTCE A/C'30375301
                        'no': BNK-10007
                      - name: ETB ABUJA DOM.AC'6034619811
                        'no': BNK-10008
                      - name: FBN-Akure Revenue
                        'no': BNK-10009
                      - name: FBN-Akure  Expenditure
                        'no': BNK-10010
                      - name: FBN=AKURE=SALARY=A/C'0000392
                        'no': BNK-10011
                      - name: OCEANIC BANK AKURE REV.A/C'663
                        'no': BNK-10012
                      - name: FCMB AKURE MTCE.A/C'727501
                        'no': BNK-10013
                      - name: FBN=BENIN=EXPENDITURE A/C'55
                        'no': BNK-10014
                      - name: FBN=BENIN=SALARY A/C'00046
                        'no': BNK-10015
                      - name: FBN=BENIN=REVENUE A/C'00037
                        'no': BNK-10016
                      - name: INLAND BANK=BENIN=SAL.A/C'5794
                        'no': BNK-10017
                      - name: OCEANIC BANK BENIN REV.A/C'963
                        'no': BNK-10018
                      - name: FBN BENIN SALARY A/C'0000046
                        'no': BNK-10019
                      - name: FCMB BENIN MTCE.A/C'120801
                        'no': BNK-10020
                      - name: ETB BENIN DOMICILARY A/C9818
                        'no': BNK-10021
                      - name: FBN-Calabar-Expenditure
                        'no': BNK-10022
                      - name: FBN-CALABAR-REVENUE A/C
                        'no': BNK-10023
                      - name: FBN=CALABAR=SALARY=A/C'8233
                        'no': BNK-10024
                      - name: OCEANIC BANK CALABAR.REV.A/C'3306
                        'no': BNK-10025
                      - name: FCMB CALABAR MTCE A/C'125901
                        'no': BNK-10026
                      - name: ETB CALABAR.DOM.A/C'6052601017
                        'no': BNK-10027
                      - name: FBN-Enugu Main Revenue
                        'no': BNK-10028
                      - name: FBN-Enugu  Expenditure A/c
                        'no': BNK-10029
                      - name: FBN=ENUGU=SALARY=A/C'77100
                        'no': BNK-10030
                      - name: AFEX BANK ENUGU-REVENUE A/C
                        'no': BNK-10031
                      - name: OCEANIC BANK ENUGU REV.A/C'366
                        'no': BNK-10032
                      - name: FCMB ENUGU MTCE.A/C'72401
                        'no': BNK-10033
                      - name: ETB ENUGU DOM.A/C'0034619817
                        'no': BNK-10034
                      - name: FEDERAL MORTGAGE BANK HQ
                        'no': BNK-10035
                      - name: ESTAPORT BUILDING SOCIETY HQ
                        'no': BNK-10036
                      - name: FBN-H/Q-Revenue-MMA--60909800
                        'no': BNK-10037
                      - name: FBN-HQ-Operational AC32270500
                        'no': BNK-10038
                      - name: FBN-HQ-Rev=2=MMA-1962040000064
                        'no': BNK-10039
                      - name: FBN-HQ-C/ACCT=MMA=2040000073
                        'no': BNK-10040
                      - name: FBN-HQ-P/COST =MMA="2040000055**
                        'no': BNK-10041
                      - name: PACIFIC MERCHANT BANK HQ- LAGOS
                        'no': BNK-10042
                      - name: MMB REV HQ (=N=)A/C 01F06021626
                        'no': BNK-10043
                      - name: ECO BANK-CAPITAL HQ A/C1215248913
                        'no': BNK-10044
                      - name: CBN-HQ Capital A/c
                        'no': BNK-10045
                      - name: UBN, Ikeja-HQ(SAL)-0104000531
                        'no': BNK-10046
                      - name: UBN Ikeja(Hq Rev =N)-104000603
                        'no': BNK-10047
                      - name: Union Bank,Ikeja-Hq Rev a/c($)
                        'no': BNK-10048
                      - name: Afex Bank,Ikeja-Hq Rev 4000109
                        'no': BNK-10049
                      - name: FCMB BANK PLC -HQ STAFF COST
                        'no': BNK-10050
                      - name: INLAND=BANK=INVEST HQ.A/C.
                        'no': BNK-10051
                      - name: FCMB BANK PLC HQ -  CONTRACTOR (CURRENT) A/C
                        'no': BNK-10052
                      - name: AFEX BANK NON CHQ.REVENUE
                        'no': BNK-10053
                      - name: INLAND BANK FOREX HQ A/C'0000174
                        'no': BNK-10054
                      - name: Hallmark Bank Ikeja Hq-O/h a/c
                        'no': BNK-10055
                      - name: AFRIBANK-IKJ  HQ C/A 441212616
                        'no': BNK-10056
                      - name: AFRIBANK LOAN A/C HQ LD0226200293
                        'no': BNK-10057
                      - name: HALLMARK BANK(SHD)HQ A/C'27819
                        'no': BNK-10058
                      - name: HALLMARK BANK REV.A/C HQ '37318**
                        'no': BNK-10059
                      - name: TRANS INTER BANK C/A HQ "304001422**
                        'no': BNK-10060
                      - name: TRANS INT.BANK HOUS.DED.A/C HQ**
                        'no': BNK-10061
                      - name: ECO BANK PLC -  HQ REVEVUE
                        'no': BNK-10062
                      - name: FCMB BANK PLC HQ - CONSTRUCTION & MTCE A/C
                        'no': BNK-10063
                      - name: EQUITORIAL TRUST BANK (ETB) LTD HQ - DOM REV
                        'no': BNK-10064
                      - name: EQUITORIAL TRUST BANK (ETB) LTD HQ - DOM EXP
                        'no': BNK-10065
                      - name: CBN HQTRS.EXP.A/C'0991-42-01-7**
                        'no': BNK-10066
                      - name: BANK PHB HQ- STAFF RENT DEDUCTION
                        'no': BNK-10067
                      - name: ZENITH BANK PLC HQ- FAAN AVII FUND
                        'no': BNK-10068
                      - name: ZENITH  BANK PLC HQ- .AVII FUND A/C.2-ABUJA
                        'no': BNK-10069
                      - name: ZENIT.BANK PLC HQ - PENSION FUND
                        'no': BNK-10070
                      - name: UNITED BANK FOR AFRICA ( UBA) HQ - AVII FUND-ABUJA
                        'no': BNK-10071
                      - name: FBN-Ibadan Revenue  A/c
                        'no': BNK-10072
                      - name: FBN-Ibadan Expenditure A/c
                        'no': BNK-10073
                      - name: FBN=IBADAN=SALARY=A/C'042701
                        'no': BNK-10074
                      - name: OCEANIC BANK IBADAN REVA/C'729
                        'no': BNK-10075
                      - name: FCMB IBADAN MTCE A/C'408501
                        'no': BNK-10076
                      - name: FBN ILORIN SALARY A/C'1458
                        'no': BNK-10077
                      - name: OCEANIC BANK ILORIN REV.AC'662
                        'no': BNK-10078
                      - name: FCMB ILORIN MTCE A/C'30137401
                        'no': BNK-10079
                      - name: ETB ILORIN DOM.AC'
                        'no': BNK-10080
                      - name: FBN JOS REVENUE A/C
                        'no': BNK-10081
                      - name: FBN JOS SALARY=A/C
                        'no': BNK-10082
                      - name: FBN JOS EXPENDITURE A/C'161
                        'no': BNK-10083
                      - name: INLAND BANK=JOS=EXP.A/C'8412
                        'no': BNK-10084
                      - name: OCEANIC BANK JOS REV.A/C'7131
                        'no': BNK-10085
                      - name: FCMB JOS MTCE.A/C'181901
                        'no': BNK-10086
                      - name: ETB  JOS DOM.A/C'6034619819
                        'no': BNK-10087
                      - name: FBN=KADUNA=SAL.A/C'0001120
                        'no': BNK-10088
                      - name: OCEANIC BANK KADUNA.REV.A/C'11077
                        'no': BNK-10089
                      - name: FCMB KADUNA MTCE.A/C'83501
                        'no': BNK-10090
                      - name: ETB KADUNA.DOM.A/C'6034619819
                        'no': BNK-10091
                      - name: FBN-Kano Expenditure  A/c
                        'no': BNK-10092
                      - name: FBN -KANO SALARY  A/C
                        'no': BNK-10093
                      - name: FBN=KANO=REVENUE=A/C'00091
                        'no': BNK-10094
                      - name: FIB KANO REV.A/C'100241885
                        'no': BNK-10095
                      - name: OCEANIC BANK KANO REV.A/C'7317
                        'no': BNK-10096
                      - name: FCMB KANO MTCE.A/C'19501
                        'no': BNK-10097
                      - name: ETB KANO DOM.A/C'34619811
                        'no': BNK-10098
                      - name: FBN KATSINA=SALARY A/C'3800
                        'no': BNK-10099
                      - name: FBN KATSINA=REVENUE=A/C'3802
                        'no': BNK-10100
                      - name: FBN=KATSINA=EXP=A/C'3801
                        'no': BNK-10101
                      - name: OCEANIC BANK KAT. REV.A/C'6038
                        'no': BNK-10102
                      - name: FCMB KATSINA MTCE.A/C'5110301
                        'no': BNK-10103
                      - name: FBN-Maiduguri  Revenue A/c
                        'no': BNK-10104
                      - name: FBN-Maiduguri Mtce Exp  A/c
                        'no': BNK-10105
                      - name: FBN-Maiduguri Salary  A/c
                        'no': BNK-10106
                      - name: INLAND BANK=M'GURI=EXP.A/C'012
                        'no': BNK-10107
                      - name: OCEANIC BANK M'GURI.REV.A/C'22
                        'no': BNK-10108
                      - name: FCMB M'GURI.MTCE.A/C'701
                        'no': BNK-10109
                      - name: ETB M'GURI.DOMICILARY A/C'7112
                        'no': BNK-10110
                      - name: FBN EXPENDITURE A/C-MAKURDI
                        'no': BNK-10111
                      - name: FBN=MAKURDI=REV.A/C'4600
                        'no': BNK-10112
                      - name: OCEANIC BANK MAK REV A/C '097
                        'no': BNK-10113
                      - name: FCMB MAKURDI MTCE A/C '0233601
                        'no': BNK-10114
                      - name: FBN=MINNA=REVENUE=A/C'12900
                        'no': BNK-10115
                      - name: FBN=MINNA=SALARY=A/C'311000
                        'no': BNK-10116
                      - name: FBN=MINNA=EXP.A/C'13700
                        'no': BNK-10117
                      - name: OCEANIC BANK MINNA REV.A/C'751
                        'no': BNK-10118
                      - name: FCMB MINNA MTCE.A/C'5070001
                        'no': BNK-10119
                      - name: FBN-MMA MTCE EXP**
                        'no': BNK-10120
                      - name: FBN-MMA SALARY
                        'no': BNK-10121
                      - name: INLAND BANK-MMA-REV.A/C'190029
                        'no': BNK-10122
                      - name: AFRIBANK IKJ=MMA REV441212624**
                        'no': BNK-10123
                      - name: FIB MMA (GAT) REV.A/C'14701**
                        'no': BNK-10124
                      - name: FIB MMA (HCT) REV.A/C'14601**
                        'no': BNK-10125
                      - name: FIB MMA (ITZ) REV.A/C'14801**
                        'no': BNK-10126
                      - name: FCMB MMIA MTCE A/C125430246701
                        'no': BNK-10127
                      - name: ETB MMA DOMA/C 6034619817
                        'no': BNK-10128
                      - name: ZENITH BANK PLC - MMIA  ITZ  REV REMITTANCE
                        'no': BNK-10129
                      - name: ZENITH BANK PLC - MMIA GAT REV REMITTANCE
                        'no': BNK-10130
                      - name: ZENITH  MMIA HCT REV  A/C'**
                        'no': BNK-10131
                      - name: ZENITH MMA HCT REV.A/C'522109**
                        'no': BNK-10132
                      - name: ZENITH MMA GAT REV.A/C'522093
                        'no': BNK-10133
                      - name: ZENITH MMA ITZ REV.A/C'722753**
                        'no': BNK-10134
                      - name: FBN=OSUBI=GENERAL A/C'16515
                        'no': BNK-10135
                      - name: FCMB OSUBI MTCE.A/C'32235001
                        'no': BNK-10136
                      - name: FBN-Imo/Owerri Expenditure
                        'no': BNK-10137
                      - name: FBN =OWERRI=SALARY A/C'0000107
                        'no': BNK-10138
                      - name: OCEANIC BANK OWERRI REV.A/C'24
                        'no': BNK-10139
                      - name: FCMB OWERRI MTCE.A/C'101901
                        'no': BNK-10140
                      - name: ETB OWERRI DOM.A/C'6034619817
                        'no': BNK-10141
                      - name: FBN=PHC=EXP.A/C'39022
                        'no': BNK-10142
                      - name: FBN=PHC.=REVENUE=A/C'39011
                        'no': BNK-10143
                      - name: FBN=PHC.SALARY=A/C'39033
                        'no': BNK-10144
                      - name: Chartered Bank-PHC REVENUE A/C
                        'no': BNK-10145
                      - name: Chartered Bank-PHC Salary A/c
                        'no': BNK-10146
                      - name: Afex Bank PHC - Revenue a/c
                        'no': BNK-10147
                      - name: OCEANIC BANK PHC.REV'61726
                        'no': BNK-10148
                      - name: FCMB PHC.MTCE A/C 301431103901
                        'no': BNK-10149
                      - name: ETB PHC.DOM A/C
                        'no': BNK-10150
                      - name: FBN-Sokoto Revenue A/c
                        'no': BNK-10151
                      - name: FBN - SOKOTO EXPENDITURE A/C
                        'no': BNK-10152
                      - name: FBN-SOKOTO SALARY A/C'32500
                        'no': BNK-10153
                      - name: FCMB SOKOTO MTCE A/C'430209701
                        'no': BNK-10154
                      - name: OCEANIC BANK SOKOTO REV.A/C'6193
                        'no': BNK-10155
                      - name: FBN SOKOTO SALARY A/C'11722
                        'no': BNK-10156
                      - name: ETB SOKOTO DOM.A/C'6034619817
                        'no': BNK-10157
                      - name: FBN-Yola Expenditure A/c'28700
                        'no': BNK-10158
                      - name: FBN-YOLA  REVENUE  A/C'28677
                        'no': BNK-10159
                      - name: FBN=YOLA=SALARY=A/C'28699
                        'no': BNK-10160
                      - name: FCMB YOLA MTCE A/C 267430200101
                        'no': BNK-10161
                      - name: OCEANIC BANK YOLA REV.A/C'6633
                        'no': BNK-10162
                      - name: FBN-Zaria Expenditure A/c
                        'no': BNK-10163
                      - name: FBN=ZARIA=REV.A/C'0000037
                        'no': BNK-10164
                      - name: OCEANIC BANK ZARIA REV.A/C'973
                        'no': BNK-10165
                      - name: FBN ZARIA SALARY A/C'0000028
                        'no': BNK-10166
                      - name: FCMB ZARIA MTCE.A/C'5085201
                        'no': BNK-10167
                      - name: FBN PLC - ENUGU SALARY
                        'no': BNK-10168
                      - name: CBN-HQ
                        'no': BNK-10169
                      - name: ZENITH CALL DEP A/C - HQ
                        'no': BNK-10170
                      - name: ZENITH BANK SINKING FUND HQ
                        'no': BNK-10171
                      - name: FBN PLC  - KADUNA SALARY A/C'
                        'no': BNK-10172
                      - name: ACCESS BANK PLC - SOKOTO REVENUE A/C
                        'no': BNK-10173
                      - name: ACCESS BANK PLC - AKURE REVENUE A/C
                        'no': BNK-10174
                      - name: DIAMOND BANK -  IBADAN REVENUE
                        'no': BNK-10175
                      - name: ACCESS BANK PLC - KANO REVENUE
                        'no': BNK-10176
                      - name: ACCESS BANK PLC - OWERRI REVENUE A/C
                        'no': BNK-10177
                      - name: ACCESS BANK PLC -  BENIN REVENUE A/C
                        'no': BNK-10178
                      - name: ACCESS BANK PLC - ABUJA REVENUE A/C
                        'no': BNK-10179
                      - name: GUARANTEE TRUST BANK  PLC - HQ CURRENT ACCOUNT
                        'no': BNK-10180
                      - name: ACCESS BANK PLC - HQ  CURRENT
                        'no': BNK-10181
                      - name: OCEANIC BANK- ABUJA
                        'no': BNK-10182
                      - name: "OCEANIC BANK- ABUJA PSC DOMESTIC\r\n"
                        'no': BNK-10183
                      - name: Access Bank Makurdi a/c '0244
                        'no': BNK-10184
                      - name: ACCESS BANK MINNA
                        'no': BNK-10185
                      - name: STERLING  BANK PLC - VAT/WHT
                        'no': BNK-10186
                      - name: STERLING BANK-PHC DOLLAR REVENUE
                        'no': BNK-10187
                      - name: FBN PLC HQ- PERSONNEL COST
                        'no': BNK-10188
                      - name: DIAMOND BANK PLC HQ- RENT  REVENUE
                        'no': BNK-10189
                      - name: FCMB BANK PLC HQ- STAFF DEDUCTION EXP
                        'no': BNK-10190
                      - name: DIAMOND BANK PLC HQ - CONCESSION FEES REVENUE
                        'no': BNK-10191
                      - name: DIAMOND BANK PLC HQ - SRC  REVENUE
                        'no': BNK-10192
                      - name: OCEANIC BANK - ENUGU CARPARK REVENUE
                        'no': BNK-10193
                      - name: FCMB BANK PLC HQ -  CURRENT ACCOUNT 2-(PPC)
                        'no': BNK-10194
                      - name: OCEANIC BANK - ENUGU ACCESS GATE REVENUE
                        'no': BNK-10195
                      - name: OCEANIC BANK - ENUGU MISC REVENUE
                        'no': BNK-10196
                      - name: OCEANIC BANK - ENUGU LANDING (DOM) REVENUE
                        'no': BNK-10197
                      - name: OCEANIC BANK - ENUGU PSC REVENUE
                        'no': BNK-10198
                      - name: DIAMOND BANK - ENUGU CONCESSION REVENUE
                        'no': BNK-10199
                      - name: DIAMOND BANK - ENUGU SRC REVENUE
                        'no': BNK-10200
                      - name: DIAMOND BANK - ENUGU RENT REVENUE
                        'no': BNK-10201
                      - name: GTBANK - ENUGU ELECTRICITY REVENUE
                        'no': BNK-10202
                      - name: ACCESS BANK - ENUGU APRON PASS REVENUE
                        'no': BNK-10203
                      - name: OCEANIC BANK - BENIN MISC REVENUE
                        'no': BNK-10204
                      - name: OCEANIC BANK - BENIN L& P REVENUE
                        'no': BNK-10205
                      - name: OCEANIC BANK - BENIN ACCESS GATE REVENUE
                        'no': BNK-10206
                      - name: OCEANIC BANK - BENIN CAR PARK REVENUE
                        'no': BNK-10207
                      - name: OCEANIC BANK - BENIN PSC REVENUE
                        'no': BNK-10208
                      - name: DIAMOND BANK - BENIN RENT REVENUE
                        'no': BNK-10209
                      - name: DIAMOND BANK - BENIN CONCESSION REVENUE
                        'no': BNK-10210
                      - name: DIAMOND BANK - BENIN SRC REVENUE
                        'no': BNK-10211
                      - name: GTBANK - BENIN ELECTRICITY REVENUE
                        'no': BNK-10212
                      - name: FBN PLC HQ- LC CONVEYOR ENUGU
                        'no': BNK-10213
                      - name: STERLING BANK  PLC HQ-LC VANDERLANDE CONVEYOR MMA
                        'no': BNK-10214
                      - name: STERLING BANK  PLC HQ- LC  AVIAN SYSTEM(CHARACTER)
                        'no': BNK-10215
                      - name: FIDELITY BANK  PLC HQ- LC IMPORTATION
                        'no': BNK-10216
                      - name: STERLING BANK- ABUJA PSC
                        'no': BNK-10217
                      - name: STERLING BANK PLC HQ- LC IFO TAILOR MADE SYSTEMS
                        'no': BNK-10218
                      - name: ACCESS BANK REV DOLLAR ACCOUNT
                        'no': BNK-10219
                      - name: ACCESS BANK REV DOLLAR ACCOUNT
                        'no': BNK-10220
                      - name: OCEANIC BANK
                        'no': BNK-10221
                      - name: OCEANIC BANK
                        'no': BNK-10222
                      - name: OCEANIC BANK
                        'no': BNK-10223
                      - name: OCEANIC BANK
                        'no': BNK-10224
                      - name: OCEANIC BANK HQ- ABUJA 7% CUSTOME LEVY
                        'no': BNK-10225
                      - name: OCEANIC BANK - ABUJA MISCELLANEOUS
                        'no': BNK-10226
                      - name: ACCESS BANK HQ - ALL AIRPORTS PSC DOMESTIC
                        'no': BNK-10227
                      - name: ACCESS BANK HQ- ALL AIRPORTS CAR/TARM STICKER
                        'no': BNK-10228
                      - name: ACCESS BANK HQ- ALL AIRPORTS  CHS/CVS/CCHS
                        'no': BNK-10229
                      - name: STERLING BANK - ABUJA LANDING
                        'no': BNK-10230
                      - name: STERLING BANK - ABUJA AVIOBRIDGE
                        'no': BNK-10231
                      - name: EQUITORIAL TRUST BANK - ABUJA PARKING
                        'no': BNK-10232
                      - name: GTBANK - ABUJA APS
                        'no': BNK-10233
                      - name: GTBANK - ABUJA ELECTRICITY RECOVERIES
                        'no': BNK-10234
                      - name: DIAMOND BANK - ABUJA RENT
                        'no': BNK-10235
                      - name: DIAMOND BANK - ABUJA CONCESSION FEES
                        'no': BNK-10236
                      - name: DIAMOND BANK - ABUJA SRC
                        'no': BNK-10237
                      - name: OCEANIC BANK - AKURE LANDING DOMESTIC
                        'no': BNK-10238
                      - name: OCEANIC BANK - AKURE FUEL SURCHARGE
                        'no': BNK-10239
                      - name: OCEANIC BANK - AKURE ACCESS GATE FEES
                        'no': BNK-10240
                      - name: OCEANIC BANK - AKURE AIRPORT ADVERT
                        'no': BNK-10241
                      - name: OCEANIC BANK - AKURE CAR PARKS
                        'no': BNK-10242
                      - name: OCEANIC BANK- AKURE MISCELLANEOUS
                        'no': BNK-10243
                      - name: GTBANK - AKURE APS
                        'no': BNK-10244
                      - name: GTBANK - AKURE ELECTRICITY RECOVERIES
                        'no': BNK-10245
                      - name: DIAMOND BANK - AKURE RENT
                        'no': BNK-10246
                      - name: DIAMOND BANK - AKURE CONCESSION FEES
                        'no': BNK-10247
                      - name: DIAMOND BANK - AKURE SRC
                        'no': BNK-10248
                      - name: GTBANK - BENIN APS
                        'no': BNK-10249
                      - name: OCEANIC BANK - CALABAR LANDING DOMESTIC
                        'no': BNK-10250
                      - name: OCEANIC BANK - CALABAR FUEL SURCHARGE
                        'no': BNK-10251
                      - name: OCEANIC BANK - CALABAR ACCESS GATE FEES
                        'no': BNK-10252
                      - name: OCEANIC BANK - CALABAR AIRPORT ADVERT
                        'no': BNK-10253
                      - name: OCEANIC BANK - CALABAR CAR PARKS
                        'no': BNK-10254
                      - name: OCEANIC BANK - CALABAR MISCELLANEOUS
                        'no': BNK-10255
                      - name: GTBANK - CALABAR APS
                        'no': BNK-10256
                      - name: GTBANK - CALABAR ELECTRICITY RECOVERIES
                        'no': BNK-10257
                      - name: DIAMOND BANK - CALABAR CONCESSION FEES
                        'no': BNK-10258
                      - name: DIAMOND BANK - CALABAR RENT
                        'no': BNK-10259
                      - name: DIAMOND BANK - CALABAR SRC
                        'no': BNK-10260
                      - name: OCEANIC BANK - IBADAN LANDING DOMESTIC
                        'no': BNK-10261
                      - name: OCEANIC BANK - IBADAN FUEL SURCHARGE
                        'no': BNK-10262
                      - name: OCEANIC BANK - IBADAN ACCESS GATE FEES
                        'no': BNK-10263
                      - name: OCEANIC BANK - IBADAN AIRPORT ADVERT
                        'no': BNK-10264
                      - name: OCEANIC BANK - IBADAN CARPARKS
                        'no': BNK-10265
                      - name: OCEANIC BANK - IBADAN MISCELLANEOUS
                        'no': BNK-10266
                      - name: GTBANK - IBADAN APS
                        'no': BNK-10267
                      - name: GTBANK - IBADAN ELECTRICTIY RECOVERIES
                        'no': BNK-10268
                      - name: DIAMOND BANK - IBADAN RENT
                        'no': BNK-10269
                      - name: DIAMOND BANK - IBADAN CONCESSION FEES
                        'no': BNK-10270
                      - name: DIAMOND BANK - IBADAN SRC
                        'no': BNK-10271
                      - name: OCEANIC BANK - ILORIN LANDING DOMESTIC
                        'no': BNK-10272
                      - name: OCEANIC BANK - ILORIN FUEL SURCHARGE
                        'no': BNK-10273
                      - name: OCEANIC BANK - ILORIN ACCESS GATE FEES
                        'no': BNK-10274
                      - name: OCEANIC BANK - ILORIN AIRPORT ADVERT
                        'no': BNK-10275
                      - name: OCEANIC BANK - ILORIN CARPARKS
                        'no': BNK-10276
                      - name: OCEANIC BANK - ILORIN DEBT RECOVERY
                        'no': BNK-10277
                      - name: GTBANK - ILORIN APS
                        'no': BNK-10278
                      - name: GTBANK - ILORIN ELECTRICITY RECOVERIES
                        'no': BNK-10279
                      - name: DIAMOND BANK-ILORIN RENT
                        'no': BNK-10280
                      - name: DIAMOND BANK - ILORIN CONCESSION FEES
                        'no': BNK-10281
                      - name: DIAMOND BANK - ILORIN SRC
                        'no': BNK-10282
                      - name: OCEANIC BANK - JOS LANDING DOMESTIC
                        'no': BNK-10283
                      - name: OCEANIC BANK - JOS FUEL SURCHARGE
                        'no': BNK-10284
                      - name: OCEANIC BANK - JOS ACCESS GATE FEEE
                        'no': BNK-10285
                      - name: OCEANIC BANK - JOS AIRPORT ADVERT
                        'no': BNK-10286
                      - name: OCEANIC BANK - JOS CAR PARC
                        'no': BNK-10287
                      - name: OCEANIC BANK - JOS MISCELLANEOUS
                        'no': BNK-10288
                      - name: OCEANIC BANK - KADUNA LANDING(DOM)
                        'no': BNK-10289
                      - name: OCEANIC BANK - KADUNA FUEL SURCHARGE
                        'no': BNK-10290
                      - name: OCEANIC BANK - KADUNA ACCESS GATE FEES
                        'no': BNK-10291
                      - name: OCEANIC BANK - KADUNA AIRPORT ADVERT
                        'no': BNK-10292
                      - name: OCEANIC BANK - KADUNA CAR PARK
                        'no': BNK-10293
                      - name: OCEANIC BANK - KADUNA MISCELLANEOUS
                        'no': BNK-10294
                      - name: OCEANIC BANK - KANO LANDING(DOM)
                        'no': BNK-10295
                      - name: OCEANIC BANK - KANO FUEL SURCHARGE
                        'no': BNK-10296
                      - name: OCEANIC BANK - KANO ACCESS GATE FEES
                        'no': BNK-10297
                      - name: OCEANIC BANK - KANO AIRPORT ADVERT
                        'no': BNK-10298
                      - name: OCEANIC BANK - KANO CAR PARK
                        'no': BNK-10299
                      - name: OCEANIC BANK - KANO MISCELLANEOUS
                        'no': BNK-10300
                      - name: OCEANIC BANK - KATSINA LANDING(DOM)
                        'no': BNK-10301
                      - name: OCEANIC BANK - KATSINA FUEL SURCHARGE
                        'no': BNK-10302
                      - name: OCEANIC BANK - KATSINA ACCESS GATE FEES
                        'no': BNK-10303
                      - name: OCEANIC BANK - KATSINA AIRPORT ADVERT
                        'no': BNK-10304
                      - name: OCEANIC BANK - KATSINA CAR PARK
                        'no': BNK-10305
                      - name: OCEANIC BANK - KATSINA MISCELLANEOUS
                        'no': BNK-10306
                      - name: OCEANIC BANK - MAIDUGURI LANDING(DOM)
                        'no': BNK-10307
                      - name: OCEANIC BANK - MAIDUGURI FUEL SURCHARGE
                        'no': BNK-10308
                      - name: OCEANIC BANK - MAIDUGURI ACCESS GATE FEES
                        'no': BNK-10309
                      - name: OCEANIC BANK - MAIDUGURI AIRPORT ADVERT
                        'no': BNK-10310
                      - name: OCEANIC BANK - MAIDUGURI CAR PARK
                        'no': BNK-10311
                      - name: OCEANIC BANK - MAIDUGURI MISCELLANEOUS
                        'no': BNK-10312
                      - name: OCEANIC BANK - MAKURDI LANDING(DOM)
                        'no': BNK-10313
                      - name: OCEANIC BANK - MAKURDI FUEL SURCHARGE
                        'no': BNK-10314
                      - name: OCEANIC BANK - MAKURDI ACCESS GATE FEES
                        'no': BNK-10315
                      - name: OCEANIC BANK - MAKURDI AIRPORT ADVERT
                        'no': BNK-10316
                      - name: OCEANIC BANK- MAKURDI CAR PARK
                        'no': BNK-10317
                      - name: OCEANIC BANK - MAKURDI MISCELLANEOUS
                        'no': BNK-10318
                      - name: OCEANIC BANK - MINNA LANDING(DOM)
                        'no': BNK-10319
                      - name: OCEANIC BANK - MINNA FUEL SURCHARGE
                        'no': BNK-10320
                      - name: OCEANIC BANK - MINNA ACCESS GATE FEES
                        'no': BNK-10321
                      - name: OCEANIC BANK - MINNA AIRPORT ADVERT
                        'no': BNK-10322
                      - name: OCEANIC BANK - MINNA CAR PARK
                        'no': BNK-10323
                      - name: OCEANIC BANK - MINNA MISCELLANEOUS
                        'no': BNK-10324
                      - name: OCEANIC BANK - MMA IKEJA FUEL SURCHARGE
                        'no': BNK-10325
                      - name: OCEANIC BANK - MMA IKEJA ACCESS GATE FEES
                        'no': BNK-10326
                      - name: OCEANIC BANK - MMA IKEJA AIRPORT ADVERT
                        'no': BNK-10327
                      - name: OCEANIC BANK - MMA  ADVERT ON AVIO-BRIDGES
                        'no': BNK-10328
                      - name: OCEANIC BANK - MMA CAR PARK
                        'no': BNK-10329
                      - name: OCEANIC BANK HQ- MMIA 7%(4/7) CUSTOM AIRPORT
                        'no': BNK-10330
                      - name: OCEANIC BANK - MMA MISCELLANEOUS
                        'no': BNK-10331
                      - name: OCEANIC BANK - OSUBI LANDING(DOM)
                        'no': BNK-10332
                      - name: OCEANIC BANK - OSUBI FUELSURCHARGE
                        'no': BNK-10333
                      - name: OCEANIC BANK - OSUBI ACCESS GATE FEES
                        'no': BNK-10334
                      - name: OCEANIC BANK - OSUBI AIRPORT ADVERT
                        'no': BNK-10335
                      - name: OCEANIC BANK - OSUBI CAR PARK
                        'no': BNK-10336
                      - name: OCEANIC BANK - OSUBI MISCELLANEOUS
                        'no': BNK-10337
                      - name: OCEANIC BANK - OWERRI LANDING(DOM)
                        'no': BNK-10338
                      - name: OCEANIC BANK - OWERRI FUEL SURCHARGE
                        'no': BNK-10339
                      - name: OCEANIC BANK-OWERRI ACCESS GATE FEES
                        'no': BNK-10340
                      - name: OCEANIC BANK- OWERRI AIRPORT ADVERT
                        'no': BNK-10341
                      - name: OCEANIC BANK - OWERRI CAR PARK
                        'no': BNK-10342
                      - name: OCEANIC BANK - OWERRI MISCELLANEOUS
                        'no': BNK-10343
                      - name: OCEANIC BANK - P/HARCURT LANDING (DOM)
                        'no': BNK-10344
                      - name: OCEANIC BANK- PHC FUEL SURCHARGE
                        'no': BNK-10345
                      - name: OCEANIC BANK - PHC ACCESS GATE FEES
                        'no': BNK-10346
                      - name: OCEANIC BANK -PHC AIRPORT ADVERT
                        'no': BNK-10347
                      - name: OCEANIC BANK- PHC CAR PARK
                        'no': BNK-10348
                      - name: OCEANIC BANK HQ-P.H.C 7%(4/7) CUSTOM AIR
                        'no': BNK-10349
                      - name: OCEANIC BANK-PHC MISCELLANEOUS
                        'no': BNK-10350
                      - name: OCEANIC BANK- SOKOTO LANDING(DOM)
                        'no': BNK-10351
                      - name: OCEANIC BANK-SOKOTO FUEL SURCHARGE
                        'no': BNK-10352
                      - name: OCEANIC BANK-SOKOTO ACCESS GATE FEES
                        'no': BNK-10353
                      - name: OCEANIC BANK-SOKOTO AIRPORT ADVERT
                        'no': BNK-10354
                      - name: OCEANIC BANK-SOKOTO CAR PARK
                        'no': BNK-10355
                      - name: OCEANIC BANK- SOKOTO MISCELLANEOUS
                        'no': BNK-10356
                      - name: OCEANIC BANK-YOLA LANDING(DOM)
                        'no': BNK-10357
                      - name: OCEANIC BANK-YOLA 0511301008540
                        'no': BNK-10358
                      - name: OCEANIC BANK-YOLA ACCESS GATE FEES
                        'no': BNK-10359
                      - name: OCEANIC BANK-YOLA AIRPORT ADVERT
                        'no': BNK-10360
                      - name: OCEANIC BANK-YOLA CAR PARK
                        'no': BNK-10361
                      - name: OCEANIC BANK-YOLA MISCELLANEOUS
                        'no': BNK-10362
                      - name: OCEANIC BANK-ZARIA LANDING(DOM)
                        'no': BNK-10363
                      - name: OCEANIC BANK-ZARIA FUEL SURCHARGE
                        'no': BNK-10364
                      - name: OCEANIC BANK-ZARIA ACCESS GATE FEES
                        'no': BNK-10365
                      - name: OCEANIC BANK-ZARIA AIRPORT ADVERT
                        'no': BNK-10366
                      - name: OCEANIC BANK-ZARIA CAR PARK
                        'no': BNK-10367
                      - name: OCEANIC BANK-ZARIA MISCELLANEOUS
                        'no': BNK-10368
                      - name: GTBANK-ZARIA APS
                        'no': BNK-10369
                      - name: GT BANK-ZARIA ELECTRICITY RECOVERIES
                        'no': BNK-10370
                      - name: ACCESS BANK- ZARIA CHS/CVS/CCHS
                        'no': BNK-10371
                      - name: ACCESS BANK - YOLA PSC(DOM)
                        'no': BNK-10372
                      - name: ACCESS BANK-YOLA CAR/TARMAC STICKERS
                        'no': BNK-10373
                      - name: ACCESS BANK-YOLA CHS/CVS/CCHS
                        'no': BNK-10374
                      - name: ACCESS BANK - SOKOTO PSC(DOM)
                        'no': BNK-10375
                      - name: ACCESS BANK - SOKOTO CAR/TARMAC STICKERS
                        'no': BNK-10376
                      - name: ACCESS BANK- SOKOTO CHS/CVS/CCHS
                        'no': BNK-10377
                      - name: ACCESS BANK-PHC CAR/TARMAC STICKERS
                        'no': BNK-10378
                      - name: ACCESS BANK- PHC CHS/CVS/CCHS
                        'no': BNK-10379
                      - name: ACCESS BANK-OWERRI PSC(DOM)
                        'no': BNK-10380
                      - name: ACCESS BANK-OWERRI CAR/TARMAC STICKER
                        'no': BNK-10381
                      - name: ACCESS BANK-OWERRI CHS/CVS/CCHS
                        'no': BNK-10382
                      - name: ACCESS BANK-MMA PSC (DOM)
                        'no': BNK-10383
                      - name: ACCESS BANK-MMA  CARTARMAC STICKERS
                        'no': BNK-10384
                      - name: ACCESS BANK-MMA CHS/CVS/CCHS
                        'no': BNK-10385
                      - name: ACCESS BANK-MINNA PSC(DOM)
                        'no': BNK-10386
                      - name: ACCESS BANK-MINNA CAR/TARMAC STICKERS
                        'no': BNK-10387
                      - name: raheed b amhed
                        'no': BNK-10388
                      - name: ACCESS BANK-MAKURDI PSC(DOM)
                        'no': BNK-10389
                      - name: ACCESS BANK-MAKURDI CAR/TARMAC STICKERS
                        'no': BNK-10390
                      - name: ACCESS BANK-MAKURDI CHS/CVS/CCHS
                        'no': BNK-10391
                      - name: ACCESS BANK-MAIDUGURI PSC(DOM)
                        'no': BNK-10392
                      - name: GT BANK-YOLA AIRPORT PROTOCOL SERVICES
                        'no': BNK-10393
                      - name: GT BANK-YOLA ELECTRICITY RECOVERY
                        'no': BNK-10394
                      - name: GT BANK-SOKOTO AIRPORT PROTOCOL SERVIC
                        'no': BNK-10395
                      - name: GT BANK-SOKOTO ELECTRICITY RECOVERIES
                        'no': BNK-10396
                      - name: GT BANK-PHC AIRPORT PROTOCOL SE
                        'no': BNK-10397
                      - name: GT BANK-PHC ELECTRICY RECOVERIES
                        'no': BNK-10398
                      - name: GT BANK-OWERRI AIRPORT PROTOCOL SERVIC
                        'no': BNK-10399
                      - name: GT BANK-OWERRI ELECTRICITY RECOVERIES
                        'no': BNK-10400
                      - name: GT BANK-OSUBI AIRPORT PROTOCOL SERVICE
                        'no': BNK-10401
                      - name: GT BANK-OSUBI ELECTRICITY RECOVERIES
                        'no': BNK-10402
                      - name: GT BANK-MMA AIRPORT PROTOCOL SERVICES
                        'no': BNK-10403
                      - name: GT BANK-MMA ELECTRICITY RECOVERIES
                        'no': BNK-10404
                      - name: GT BANK-MINNA APS
                        'no': BNK-10405
                      - name: GT BANK- MINNA ELECRICITY RECOVERIES
                        'no': BNK-10406
                      - name: GT BANK-MAKURDI  APS
                        'no': BNK-10407
                      - name: GT BANK- MAKURDI ELECTRICITY RECOVERIES
                        'no': BNK-10408
                      - name: GT BANK - MAIDUGURI APS
                        'no': BNK-10409
                      - name: GT BANK- MAIDUGURI ELECTRICITY RECOVERI
                        'no': BNK-10410
                      - name: GT BANK-KATSINA APS
                        'no': BNK-10411
                      - name: GT BANK-KATSINA ELECTRICITY RECOVERIES
                        'no': BNK-10412
                      - name: GT BANK-KANO APS
                        'no': BNK-10413
                      - name: GT BANK-KANO ELECTRICITY RECOVERIES
                        'no': BNK-10414
                      - name: GT BANK-KADUNA APS
                        'no': BNK-10415
                      - name: GT BANK-KADUNA ELECTRICITY RECOVERIES
                        'no': BNK-10416
                      - name: GT BANK-JOS APS
                        'no': BNK-10417
                      - name: GT BANK-JOS ELECTRICITY RECOVERIES
                        'no': BNK-10418
                      - name: GT BANK-JOS ELECTRICITY RECOVERIES
                        'no': BNK-10419
                      - name: DIAMOND BANK-JOS SERVICE RECOVERY CHARGES/U
                        'no': BNK-10420
                      - name: DIAMOND BANK-JOS CONCESSION FEES
                        'no': BNK-10421
                      - name: DIAMOND BANK-JOS RENT (OFFICE)
                        'no': BNK-10422
                      - name: DIAMOND BANK-KADUNA SERVICE RECOVERY CHARGE
                        'no': BNK-10423
                      - name: DIAMOND BANK-KADUNA CONCESSION FEES
                        'no': BNK-10424
                      - name: DIAMOND BANK-KADUNA RENT(OFFICE)
                        'no': BNK-10425
                      - name: DIAMOND BANK-KANO SERVICE RECOVERY CHARGES
                        'no': BNK-10426
                      - name: DIAMOND BANK-KANO CONCESSION FEES
                        'no': BNK-10427
                      - name: DIAMOND BANK-KANO RENT (OFFICE)
                        'no': BNK-10428
                      - name: DIAMOND BANK-KATSINA  SRC/UTILITIES
                        'no': BNK-10429
                      - name: DIAMOND BANK-KATSINA CONCESSION FEES
                        'no': BNK-10430
                      - name: DIAMOND BANK-KATSINA RENT(OFFICE)
                        'no': BNK-10431
                      - name: DIAMOND BANK-MAIDUGURI  SRC/UTILITIES
                        'no': BNK-10432
                      - name: DIAMOND BANK-MAIDUGURI CONCESSION FEES
                        'no': BNK-10433
                      - name: DIAMOND BANK-MAIDUGURI RENT(OFFICE)
                        'no': BNK-10434
                      - name: DIAMOND BANK-MAKURDI SRC/UTILITIES
                        'no': BNK-10435
                      - name: DIAMOND BANK-MAKURDI CONCESSION FEES
                        'no': BNK-10436
                      - name: DIAMOND BANK-MAKURDI RENT(OFFICE)
                        'no': BNK-10437
                      - name: DIAMOND BANK-MINNA SRC/UTILITIES
                        'no': BNK-10438
                      - name: DIAMOND BANK-MINNA CONCESSION FEES
                        'no': BNK-10439
                      - name: DIAMOND BANK-MINNA RENT (OFFICE)
                        'no': BNK-10440
                      - name: DIAMOND BANK-MMA SRC/UTILITIES
                        'no': BNK-10441
                      - name: DIAMOND BANK-MMA CONCESSION FEES
                        'no': BNK-10442
                      - name: DIAMOND BANK-MMA RENT(OFFICE)
                        'no': BNK-10443
                      - name: DIAMOND BANK-OSUBI SRC/UTILITIES
                        'no': BNK-10444
                      - name: DIAMOND BANK-OSUBI CONCESSION FEES
                        'no': BNK-10445
                      - name: DIAMOND BANK-OSUBI RENT(OFFICE)
                        'no': BNK-10446
                      - name: DIAMOND BANK-OWERRI SRC/UTILITIES
                        'no': BNK-10447
                      - name: DIAMOND BANK-OWERRI CONCESSION FEES
                        'no': BNK-10448
                      - name: DIAMOND BANK-OWERRI RENT (OFFICE)
                        'no': BNK-10449
                      - name: DIAMOND BANK-PHC SRC/UTILITIES
                        'no': BNK-10450
                      - name: DIAMOND BANK-PHC CONCESSION FEES
                        'no': BNK-10451
                      - name: DIAMOND BANK-PHC RENT(OFFICE)
                        'no': BNK-10452
                      - name: DIAMOND BANK-SOKOTO SRC/UTILITIES
                        'no': BNK-10453
                      - name: DIAMOND BANK-SOKOTO CONCESSION FEES
                        'no': BNK-10454
                      - name: DIAMOND BANK-SOKOTO RENT(OFFICE)
                        'no': BNK-10455
                      - name: DIAMOND BANK-YOLA SRC/UTILITIES
                        'no': BNK-10456
                      - name: DIAMOND BANK-YOLA CONCESSION FEES
                        'no': BNK-10457
                      - name: DIAMOND BANK-YOLA RENT(OFFICE)
                        'no': BNK-10458
                      - name: DIAMOND BANK-ZARIA SRC/UTILITIES
                        'no': BNK-10459
                      - name: DIAMOND BANK-ZARIA CONCESSION FEES
                        'no': BNK-10460
                      - name: DIAMOND BANK-ZARIA RENT(OFFICE)
                        'no': BNK-10461
                      - name: STERLING BANK - PHC LANDING
                        'no': BNK-10462
                      - name: ECO  BANK PLC - PHC PSC
                        'no': BNK-10463
                      - name: STERLING BANK-PHC - AVIO BRIDGE
                        'no': BNK-10464
                      - name: ZENITH BANK-MMA - LANDING(INT)
                        'no': BNK-10465
                      - name: ZENITH BANK - MMA - PARKING(INT)
                        'no': BNK-10466
                      - name: ZENITH BANK-MMA LANDING(DOM)/GAT
                        'no': BNK-10467
                      - name: ZENITH BANK -MMA PARKING(DOM)/GAT
                        'no': BNK-10468
                      - name: ZENITH BANK -MMA PORT/AIR CARGO CHARGE/HCT
                        'no': BNK-10469
                      - name: ZENITH BANK - MMA V.I.P LOUNGES FEES
                        'no': BNK-10470
                      - name: ZENITH BANK - MMA GROUND RENT
                        'no': BNK-10471
                      - name: STERLING BANK - MMA LANDING
                        'no': BNK-10472
                      - name: STERLING BANK - MMA PSC
                        'no': BNK-10473
                      - name: STERLING BANK - MMA AVIOBRIDGE
                        'no': BNK-10474
                      - name: ETB BANK - MMA PARKING
                        'no': BNK-10475
                      - name: STERLING BANK - KANO LANDING
                        'no': BNK-10476
                      - name: STERLING BANK - KANO PSC
                        'no': BNK-10477
                      - name: STERLING BANK - KANO AVIOBRIDGE
                        'no': BNK-10478
                      - name: ETB BANK - KANO PARKING
                        'no': BNK-10479
                      - name: STERLING BANK HQ-PROJECT A/C -KRONENBURG MAC 12
                        'no': BNK-10480
                      - name: ZENITH BANK PLC (HQ MAIN)
                        'no': BNK-10481
                      - name: STERLING BANK HQ-PLASTISOL-PROXIMITY HEAT CLOTH
                        'no': BNK-10482
                      - name: OCEANIC BANK PLC=-KANO PSC REVENUE NAIRA
                        'no': BNK-10483
                      - name: ACCESS BANK PLC -ENUGU REVENUE
                        'no': BNK-10484
                      - name: ECO BANK PSC REVENUE
                        'no': BNK-10485
                      - name: STERLING BANK HQ REV (LANDING INTL)
                        'no': BNK-10486
                      - name: GTB  PLC - HQ ELECTRICITY REVENUE
                        'no': BNK-10487
                      - name: FBN PLC - HQ MAIN REVENUE
                        'no': BNK-10488
                      - name: FBN PLC - MMA ITZ REVENUE
                        'no': BNK-10489
                      - name: FBN PLC - MMA HCT REVENUE
                        'no': BNK-10490
                      - name: FBN PLC - MMA GAT REVENUE
                        'no': BNK-10491
                      - name: FBN PLC - CALABAR REVENUE
                        'no': BNK-10492
                      - name: FBN PLC - ENUGU REVENUE
                        'no': BNK-10493
                      - name: FBN PLC - JOS REVENUE
                        'no': BNK-10494
                      - name: FBN PLC - KANO REVENUE
                        'no': BNK-10495
                      - name: FBN PLC - ILORIN REVENUE
                        'no': BNK-10496
                      - name: FBN PLC - PHC  REVENUE
                        'no': BNK-10497
                      - name: FBN PLC - KADUNA REVENUE
                        'no': BNK-10498
                      - name: FBN PLC - MAIDUGURI REVENUE
                        'no': BNK-10499
                      - name: FBN PLC - BENIN REVENUE
                        'no': BNK-10500
                      - name: FBN PLC - IBADAN REVEUNE
                        'no': BNK-10501
                      - name: FBN PLC - SOKOTO REVENUE
                        'no': BNK-10502
                      - name: FBN PLC - ZARIA REVENUE
                        'no': BNK-10503
                      - name: FBN PLC - YOLA REVENUE
                        'no': BNK-10504
                      - name: FBN PLC - ABUJA REVENUE
                        'no': BNK-10505
                      - name: FBN PLC - AKURE REVENUE
                        'no': BNK-10506
                      - name: FBN PLC - MAKURDI REVENUE
                        'no': BNK-10507
                      - name: FBN PLC - MINNA REVENUE
                        'no': BNK-10508
                      - name: FBN PLC - OWERRI REVENUE
                        'no': BNK-10509
                      - name: FBN PLC - KATSINA REVENUE
                        'no': BNK-10510
                      - name: FBN PLC - OSUBI REVENUE
                        'no': BNK-10511
                      - name: FBN PLC - BAUCHI REVENUE
                        'no': BNK-10512
                      - name: FBN PLC - HQ PSC REVENUE
                        'no': BNK-10513
                      - name: FBN PLC - CALABAR PSC
                        'no': BNK-10514
                      - name: FBN PLC - ENUGU PSC
                        'no': BNK-10515
                      - name: FBN PLC - JOS PSC
                        'no': BNK-10516
                      - name: FBN PLC - KANO PSC
                        'no': BNK-10517
                      - name: FBN PLC - ILORIN PSC
                        'no': BNK-10518
                      - name: FBN PLC -  PHC PSC
                        'no': BNK-10519
                      - name: FBN PLC - KADUNA PSC
                        'no': BNK-10520
                      - name: FBN PLC - MAIDUGURI PSC
                        'no': BNK-10521
                      - name: FBN PLC - BENIN PSC
                        'no': BNK-10522
                      - name: FBN PLC -  IBADAN PSC
                        'no': BNK-10523
                      - name: FBN PLC - SOKOTO PSC
                        'no': BNK-10524
                      - name: FBN PLC -  ZARIA PSC
                        'no': BNK-10525
                      - name: FBN PLC - YOLA PSC
                        'no': BNK-10526
                      - name: FBN PLC -  ABUJA PSC
                        'no': BNK-10527
                      - name: FBN PLC -  AKURE PSC
                        'no': BNK-10528
                      - name: FBN PLC - MAKURDI PSC
                        'no': BNK-10529
                      - name: FBN PLC -  MINNA PSC
                        'no': BNK-10530
                      - name: FBN PLC -  KATSINA PSC
                        'no': BNK-10531
                      - name: ZENITH BANK PLC HQ- LC IFO MANTRAC
                        'no': BNK-10532
                      - name: OCEANIC BANK PLC - PHC PSC REV
                        'no': BNK-10533
                      - name: FBN PLC - OWERRI PSC
                        'no': BNK-10534
                      - name: CBN CAPITAL ACCOUNT 2012 - ABUJA
                        'no': BNK-10535
                      - name: FIRST BANK PLC - PSC GAT MMA
                        'no': BNK-10536
                      - name: FIRST BANK PLC HQ- LC FIRE TENDERS PLASTISOL/E-ONE
                        'no': BNK-10537
                      - name: STERLING BANK PLC HQ- LC- DETECT INC
                        'no': BNK-10538
                      - name: STERLING BANK HQ- LC SEVEN FIRE TENDER-PLASTISOL
                        'no': BNK-10539
                      - name: GT BANK PLC - HQ APS REVENUE
                        'no': BNK-10540
                      - name: STERLING BANK PLC - KADUNA LANDING  INT'L FOREX
                        'no': BNK-10541
                      - name: STERLING BANK PLC -KADUNA PSC INT'L FOREX
                        'no': BNK-10542
                      - name: ECO BANK PLC -KADUNA PSC REV
                        'no': BNK-10543
                      - name: ECO BANK PLC - MMA PSC GAT REV
                        'no': BNK-10544
                      - name: ZENITH BANK PLC HQ- LC MMA POWER PROJECT
                        'no': BNK-10545
                      - name: STERLING BANK PLC - HQ PSC INT'L
                        'no': BNK-10546
                      - name: STERLING BANK PLC (ETB) - HQ DOM EXPENDITURE
                        'no': BNK-10547
                      - name: STERLING BANK HQ DOM REV A/C (LANDING)
                        'no': BNK-10548
                      - name: UNITED BANK FOR AFRICA-HQ DOM EXPENDITURE
                        'no': BNK-10549
                      - name: FCMB CURRENT ACCOUNT 2 HQ- PHILIP PROJECT ACCOUNT
                        'no': BNK-10550
                      - name: ACCESS BANK PLC- HQ REV DORM.ACCT
                        'no': BNK-10551
                      - name: ACCESS BANK PLC-HQ EXPD DORM ACCOUNT
                        'no': BNK-10552
                      - name: STERLING BANK DORM ACCOUNT ABUJA
                        'no': BNK-10553
                      - name: STERLING BANK PLC (ETB) - HQ DOM REVENUE
                        'no': BNK-10554
                      - name: STERLING BANK DORM ACCOUNT BENIN
                        'no': BNK-10556
                      - name: STERLING REV DORM ACCOUNT CALABAR
                        'no': BNK-10557
                      - name: STERLING REV DORM ACCOUNT ENUGU
                        'no': BNK-10558
                      - name: STERLING BANK PLC - KADUNA LANDING  INT'L FOREX
                        'no': BNK-10559
                      - name: STERLING BANK PLC -KADUNA PSC INT'L FOREX
                        'no': BNK-10560
                      - name: STERLING BANK SOK. DOM.A/C
                        'no': BNK-10561
                      - name: STERLING BANK MMA DOMA/C
                        'no': BNK-10562
                      - name: STERLING BANK - KANO DORM ACCOUNT
                        'no': BNK-10563
                      - name: STERLING BANK - PHC REV DORM ACCOUNT
                        'no': BNK-10564
                      - name: STERLING BANK (IATA)- KANO DORM ACCOUNT
                        'no': BNK-10565
                      - name: CBN REVENUE e-COLLECTION ACCOUNT
                        'no': BNK-10566
                      - name: CBN CAPITAL (GIFMIS)
                        'no': BNK-10567
                      - name: CBN EXPD SUB ACCOUNT-MMA
                        'no': BNK-10568
                      - name: CBN EXPD SUB ACCOUNT-ABUJA
                        'no': BNK-10569
                      - name: CBN EXPD SUB ACCOUNT-PHC
                        'no': BNK-10570
                      - name: CBN EXPD SUB ACCOUNT-KANO
                        'no': BNK-10571
                      - name: CBN EXPD SUB ACCOUNT-ENUGU
                        'no': BNK-10572
                      - name: CBN EXPD SUB ACCOUNT-OWERRI
                        'no': BNK-10573
                      - name: CBN EXPD SUB ACCOUNT-SOKOTO
                        'no': BNK-10574
                      - name: CBN EXPD SUB ACCOUNT-YOLA
                        'no': BNK-10575
                      - name: CBN EXPD SUB ACCOUNT-AKURE
                        'no': BNK-10576
                      - name: CBN EXPD SUB ACCOUNT-BENIN
                        'no': BNK-10577
                      - name: CBN EXPD SUB ACCOUNT-IBADAN
                        'no': BNK-10578
                      - name: CBN EXPD SUB ACCOUNT-JOS
                        'no': BNK-10579
                      - name: CBN EXPD SUB ACCOUNT-KATSINA
                        'no': BNK-10580
                      - name: CBN EXPD SUB ACCOUNT-MAIDUGURI
                        'no': BNK-10581
                      - name: CBN EXPD SUB ACCOUNT-KADUNA
                        'no': BNK-10582
                      - name: CBN EXPD SUB ACCOUNT-CALABAR
                        'no': BNK-10583
                      - name: CBN EXPD SUB ACCOUNT-MINNA
                        'no': BNK-10584
                      - name: CBN EXPD SUB ACCOUNT-ILORIN
                        'no': BNK-10585
                      - name: CBN EXPD SUB ACCOUNT-MAKURDI
                        'no': BNK-10586
                      - name: CBN EXPD SUB ACCOUNT-ZARIA
                        'no': BNK-10587
                      - name: CBN EXPD SUB ACCOUNT-OSUBI
                        'no': BNK-10588
                      - name: CBN DORMICILIARY ACCOUNT-HQ
                        'no': BNK-10589
                      - name: ''
                        'no': BNK-10590
                      - name: ''
                        'no': BNK-10591
                      - name: ''
                        'no': BNK-10592
                      - name: ''
                        'no': BNK-10593
                      - name: ''
                        'no': BNK-10594
                      - name: ''
                        'no': BNK-10595
                      - name: ''
                        'no': BNK-10596
                      - name: ''
                        'no': BNK-10597
                      - name: ''
                        'no': BNK-10598
                      - name: ''
                        'no': BNK-10599
                      - name: ''
                        'no': BNK-10600
                      - name: ''
                        'no': BNK-10601
                      - name: ''
                        'no': BNK-10602
                      - name: ''
                        'no': BNK-10603
                      - name: ''
                        'no': BNK-10604
                      - name: ''
                        'no': BNK-10605
                      - name: ''
                        'no': BNK-10606
                      - name: ''
                        'no': BNK-10607
                      - name: ''
                        'no': BNK-10608
                      - name: ''
                        'no': BNK-10609
                      - name: ''
                        'no': BNK-10610
                      - name: ''
                        'no': BNK-10611
                      - name: ''
                        'no': BNK-10612
                      - name: ''
                        'no': BNK-10613
                      - name: ''
                        'no': BNK-10614
                      - name: ''
                        'no': BNK-10615
                      - name: ''
                        'no': BNK-10616
                      - name: ''
                        'no': BNK-10617
                      - name: ''
                        'no': BNK-10618
                      - name: ''
                        'no': BNK-10619
                      - name: ''
                        'no': BNK-10620
                      - name: ''
                        'no': BNK-10621
                      - name: ''
                        'no': BNK-10622
                      - name: ''
                        'no': BNK-10623
                      - name: ''
                        'no': BNK-10624
                      - name: ''
                        'no': BNK-10625
                      - name: ''
                        'no': BNK-10626
                      - name: ''
                        'no': BNK-10627
                      - name: ''
                        'no': BNK-10628
                      - name: ''
                        'no': BNK-10629
                      - name: ''
                        'no': BNK-10630
                      - name: ''
                        'no': BNK-10631
                      - name: ''
                        'no': BNK-10632
                      - name: ''
                        'no': BNK-10633
                      - name: ''
                        'no': BNK-10634
                      - name: ''
                        'no': BNK-10635
                      - name: ''
                        'no': BNK-10636
                      - name: ''
                        'no': BNK-10637
                      - name: ''
                        'no': BNK-10638
                      - name: ''
                        'no': BNK-10639
                      - name: ''
                        'no': BNK-10640
                      - name: ''
                        'no': BNK-10641
                      - name: ''
                        'no': BNK-10642
                      - name: CBN - TSA
                        'no': BNK-10643
                      - name: CBN DOMICILIARY
                        'no': BNK-10644
                      - name: AVIATION MEDICAL CLINIC
                        'no': BNK-10645
                      - name: FAAN TRAINING SCHOOL
                        'no': BNK-10646
                      - name: IMPREST FOR MD/CEO
                        'no': CSH-10001
                      - name: IMPREST FOR TELEPHONE
                        'no': CSH-10002
                      - name: IMPREST FOR DIRECTORS
                        'no': CSH-10003
                      - name: AIRPORT CURRENT
                        'no': CSH-10004
                      - name: CASH IN HAND
                        'no': CSH-10005
                      - name: OUTSTANDING STAFF ADVANCE
                        'no': CSH-10006
                      - name: AIRPORT RELEASES - ABUJA
                        'no': CSH-10007
                      - name: AIRPORT RELEASES - AKURE
                        'no': CSH-10008
                      - name: AIRPORT RELEASES - BENIN
                        'no': CSH-10009
                      - name: AIRPORT RELEASES - CALABAR
                        'no': CSH-10010
                      - name: AIRPORT RELEASES - ENUGU
                        'no': CSH-10011
                      - name: AIRPORT RELEASES - HEADQUARTER
                        'no': CSH-10012
                      - name: AIRPORT RELEASES - IBADAN
                        'no': CSH-10013
                      - name: AIRPORT RELEASES - ILORIN
                        'no': CSH-10014
                      - name: AIRPORT RELEASES - JOS
                        'no': CSH-10015
                      - name: AIRPORT RELEASES - KADUNA
                        'no': CSH-10016
                      - name: AIRPORT RELEASES - KANO
                        'no': CSH-10017
                      - name: AIRPORT RELEASES - KATSINA
                        'no': CSH-10018
                      - name: AIRPORT RELEASES - MAIDUGURI
                        'no': CSH-10019
                      - name: AIRPORT RELEASES - MAKURDI
                        'no': CSH-10020
                      - name: AIRPORT RELEASES - MINNA
                        'no': CSH-10021
                      - name: AIRPORT RELEASES - MMA
                        'no': CSH-10022
                      - name: AIRPORT RELEASES - OSUBI
                        'no': CSH-10023
                      - name: AIRPORT RELEASES - OWERRI
                        'no': CSH-10024
                      - name: AIRPORT RELEASES - PHC
                        'no': CSH-10025
                      - name: AIRPORT RELEASES - SOKOTO
                        'no': CSH-10026
                      - name: AIRPORT RELEASES - YOLA
                        'no': CSH-10027
                      - name: AIRPORT RELEASES - ZARIA
                        'no': CSH-10028
                      - name: PETTY CASH - BENIN
                        'no': CSH-10029
                      - name: PETTY CASH - ENUGU
                        'no': CSH-10030
                      - name: PETTY CASH - ILORIN
                        'no': CSH-10031
                      - name: PETTY CASH - KADUNA
                        'no': CSH-10032
                      - name: PETTY CASH - KANO
                        'no': CSH-10033
                      - name: PETTY CASH - MINNA
                        'no': CSH-10034
                      - name: PETTY CASH - PHC
                        'no': CSH-10035
                      - name: CASH REVENUE - ABUJA
                        'no': CSH-10036
                      - name: CASH REVENUE - AKURE
                        'no': CSH-10037
                      - name: CASH REVENUE - BENIN
                        'no': CSH-10038
                      - name: CASH REVENUE - CALABAR
                        'no': CSH-10039
                      - name: CASH REVENUE - ENUGU
                        'no': CSH-10040
                      - name: CASH REVENUE - HEADQUARTER
                        'no': CSH-10041
                      - name: CASH REVENUE - IBADAN
                        'no': CSH-10042
                      - name: CASH REVENUE - ILORIN
                        'no': CSH-10043
                      - name: CASH REVENUE - JOS
                        'no': CSH-10044
                      - name: CASH REVENUE - KADUNA
                        'no': CSH-10045
                      - name: CASH REVENUE - KANO
                        'no': CSH-10046
                      - name: CASH REVENUE - KATSINA
                        'no': CSH-10047
                      - name: CASH REVENUE - MAIDUGURI
                        'no': CSH-10048
                      - name: CASH REVENUE - MAKURDI
                        'no': CSH-10049
                      - name: CASH REVENUE - MINNA
                        'no': CSH-10050
                      - name: CASH REVENUE - MMA
                        'no': CSH-10051
                      - name: CASH REVENUE - OWERRI
                        'no': CSH-10052
                      - name: CASH REVENUE - PHC
                        'no': CSH-10053
                      - name: CASH REVENUE - SOKOTO
                        'no': CSH-10054
                      - name: CASH REVENUE - YOLA
                        'no': CSH-10055
                      - name: CASH REVENUE - ZARIA
                        'no': CSH-10056
                      - name: CASH DOMICILIARY - ABUJA
                        'no': CSH-10057
                      - name: CASH DOMICILIARY - BENIN
                        'no': CSH-10058
                      - name: CASH DOMICILIARY - CALABAR
                        'no': CSH-10059
                      - name: CASH DOMICILIARY - ENUGU
                        'no': CSH-10060
                      - name: CASH DOMICILIARY - ILORIN
                        'no': CSH-10061
                      - name: CASH DOMICILIARY - KADUNA
                        'no': CSH-10062
                      - name: CASH DOMICILIARY - KANO
                        'no': CSH-10063
                      - name: CASH DOMICILIARY - MAIDUGURI
                        'no': CSH-10064
                      - name: CASH DOMICILIARY - MMA
                        'no': CSH-10065
                      - name: CASH DOMICILIARY - PHC
                        'no': CSH-10066
                      - name: CASH DOMICILIARY - SOKOTO
                        'no': CSH-10067
                      - name: PETTY CASH HEADQTRS
                        'no': CSH-10068
                      - name: PETTY CASH IBADAN
                        'no': CSH-10069
                      - name: PETTY CASH OWERRI
                        'no': CSH-10070
                      - name: PETTY CASH SOKOTO
                        'no': CSH-10071
                      - name: PETTY CASH YOLA
                        'no': CSH-10072
                      - name: CASH DOMICILIARY - HEADQTR
                        'no': CSH-10073
                      - name: CASH DOMICILIARY - JOS
                        'no': CSH-10074
                      - name: CASH DOMICILIARY - MINNA
                        'no': CSH-10075
                      - name: CASH DOMICILIARY - YOLA
                        'no': CSH-10076
                      - name: IMPREST FOR GM
                        'no': CSH-10077
                      - name: IMPREST OTHERS
                        'no': CSH-10078
                      - name: AIRPORT ALLOCATION - ABUJA
                        'no': CSH-10079
                      - name: AIRPORT ALLOCATION - AKURE
                        'no': CSH-10080
                      - name: AIRPORT ALLOCATION - BENIN
                        'no': CSH-10081
                      - name: AIRPORT ALLOCATION - CALABAR
                        'no': CSH-10082
                      - name: AIRPORT ALLOCATION - ENUGU
                        'no': CSH-10083
                      - name: AIRPORT ALLOCATION - HEADQUARTER
                        'no': CSH-10084
                      - name: AIRPORT ALLOCATION - IBADAN
                        'no': CSH-10085
                      - name: AIRPORT ALLOCATION - ILORIN
                        'no': CSH-10086
                      - name: AIRPORT ALLOCATION - JOS
                        'no': CSH-10087
                      - name: AIRPORT ALLOCATION - KADUNA
                        'no': CSH-10088
                      - name: AIRPORT ALLOCATION - KANO
                        'no': CSH-10089
                      - name: AIRPORT ALLOCATION - KATSINA
                        'no': CSH-10090
                      - name: AIRPORT ALLOCATION - MAIDUGURI
                        'no': CSH-10091
                      - name: AIRPORT ALLOCATION - MARKUDI
                        'no': CSH-10092
                      - name: AIRPORT ALLOCATION - MINNA
                        'no': CSH-10093
                      - name: AIRPORT ALLOCATION - MMA
                        'no': CSH-10094
                      - name: AIRPORT ALLOCATION - OSUBI
                        'no': CSH-10095
                      - name: AIRPORT ALLOCATION - OWRRI
                        'no': CSH-10096
                      - name: AIRPORT ALLOCATION - PHC
                        'no': CSH-10097
                      - name: AIRPORT ALLOCATION - SOKOTO
                        'no': CSH-10098
                      - name: AIRPORT ALLOCATION - YOLA
                        'no': CSH-10099
                      - name: AIRPORT ALLOCATION - ZARIA
                        'no': CSH-10100
                      - name: REFUND/MAINT. CASH ABUJA
                        'no': CSH-10101
                      - name: REFUND/MAINT. CASH AKURE
                        'no': CSH-10102
                      - name: REFUND/MAINT. CASH BENIN
                        'no': CSH-10103
                      - name: REFUND/MAINT. CASH CALABAR
                        'no': CSH-10104
                      - name: REFUND/MAINT  ENUGU
                        'no': CSH-10105
                      - name: REFUND/MAINT. CASH HEADQUARTER
                        'no': CSH-10106
                      - name: REFUND/MAINT. CASH IBADAN
                        'no': CSH-10107
                      - name: REFUND/MAINT. CASH ILORIN
                        'no': CSH-10108
                      - name: REFUND/MAINT. CASH JOS
                        'no': CSH-10109
                      - name: REFUND/MAINT. CASH KADUNA
                        'no': CSH-10110
                      - name: REFUND/MAINT. CASH KANO
                        'no': CSH-10111
                      - name: REFUND/MAINT. CASH KATSINA
                        'no': CSH-10112
                      - name: REFUND/MAINT. CASH MAIDUGURI
                        'no': CSH-10113
                      - name: REFUND/MAINT. CASH MAKURDI
                        'no': CSH-10114
                      - name: REFUND/MAINT. CASH MINNA
                        'no': CSH-10115
                      - name: REFUND/MAINT. CASH MMA
                        'no': CSH-10116
                      - name: REFUND/MAINT. CASH OWERRI
                        'no': CSH-10117
                      - name: REFUND/MAINT. CASH PHC
                        'no': CSH-10118
                      - name: REFUND/MAINT. CASH SOKOTO
                        'no': CSH-10119
                      - name: REFUND/MAINT. CASH YOLA
                        'no': CSH-10120
                      - name: REFUND/MAINT. CASH ZARIA
                        'no': CSH-10121
                      - name: REFUND/MAINT. CASH OSUBI
                        'no': CSH-10122
                      - name: Airport Current A/C - Revenue ABUJA
                        'no': CSH-10123
                      - name: Airport Current A/C - Revenue AKURE
                        'no': CSH-10124
                      - name: Airport Current A/C - Revenue BENIN
                        'no': CSH-10125
                      - name: Airport Current A/C - Revenue CALABAR
                        'no': CSH-10126
                      - name: Airport Current A/C - Revenue mma
                        'no': CSH-10127
                      - name: Airport Current A/C - Revenue IBADAN
                        'no': CSH-10128
                      - name: Airport Current A/C - Revenue ILORIN
                        'no': CSH-10129
                      - name: Airport Current A/C - Revenue JOS
                        'no': CSH-10130
                      - name: Airport Current A/C - Revenue KADUNA
                        'no': CSH-10131
                      - name: Airport Current A/C - Revenue KANO
                        'no': CSH-10132
                      - name: Airport Current A/C - Revenue KATSINA
                        'no': CSH-10133
                      - name: Airport Current A/C - Revenue MAIDUGURI
                        'no': CSH-10134
                      - name: Airport Current A/C - Revenue MAKURDI
                        'no': CSH-10135
                      - name: Airport Current A/C - Revenue MINNA
                        'no': CSH-10136
                      - name: Airport Current A/C - Revenue MMA
                        'no': CSH-10137
                      - name: Airport Current A/C - Revenue OWERRI
                        'no': CSH-10138
                      - name: Airport Current A/C - Revenue PHC
                        'no': CSH-10139
                      - name: Airport Current A/C - Revenue SOKOTO
                        'no': CSH-10140
                      - name: Airport Current A/C - Revenue YOLA
                        'no': CSH-10141
                      - name: Airport Current A/C - Revenue ZARIA
                        'no': CSH-10142
                      - name: Airport Current A/C - Revenue OSUBI
                        'no': CSH-10143
                      - name: Airport Current A/C - Dollar ABUJA
                        'no': CSH-10144
                      - name: Airport Current A/C - Dollar AKURE
                        'no': CSH-10145
                      - name: Airport Current A/C - Dollar BENIN
                        'no': CSH-10146
                      - name: Airport Current A/C - Dollar CALABAR
                        'no': CSH-10147
                      - name: Airport Current A/C - Dollar ENUGU
                        'no': CSH-10148
                      - name: Airport Current A/C - Dollar IBADAN
                        'no': CSH-10149
                      - name: Airport Current A/C - Dollar ILORIN
                        'no': CSH-10150
                      - name: Airport Current A/C - Dollar JOS
                        'no': CSH-10151
                      - name: Airport Current A/C - Dollar KADUNA
                        'no': CSH-10152
                      - name: Airport Current A/C - Dollar KANO
                        'no': CSH-10153
                      - name: Airport Current A/C - Dollar KATSINA
                        'no': CSH-10154
                      - name: Airport Current A/C - Dollar MAIDUGURI
                        'no': CSH-10155
                      - name: Airport Current A/C - Dollar MAKURDI
                        'no': CSH-10156
                      - name: Airport Current A/C - Dollar MINNA
                        'no': CSH-10157
                      - name: Airport Current A/C - Dollar MMA
                        'no': CSH-10158
                      - name: Airport Current A/C - Dollar OWEERI
                        'no': CSH-10159
                      - name: Airport Current A/C - Dollar PHC
                        'no': CSH-10160
                      - name: Airport Current A/C - Dollar SOKOTO
                        'no': CSH-10161
                      - name: Airport Current A/C - Dollar YOLA
                        'no': CSH-10162
                      - name: Airport Current A/C - Dollar ZARIA
                        'no': CSH-10163
                      - name: Airport Current A/C - Dollar OSUBI
                        'no': CSH-10164
                      - name: Airport Current A/C - Dollar HEADQTR
                        'no': CSH-10165
                      - name: CASH DOMICILIARY - KATSINA
                        'no': CSH-10166
                      - name: CASH REVENUE-OSUBI AIRPOT
                        'no': CSH-10167
                      - name: CASH DOMICILIARY - AKURE
                        'no': CSH-10168
                      - name: CASH DOMICILIARY - OWERRI
                        'no': CSH-10171
                      - name: Airport Current A/C - Dollar OWERRI
                        'no': CSH-10172
                      - name: CASH DOMICILIARY - ABUJA
                        'no': CSH-10173
                      - name: CASH DOMICILIARY - AKURE
                        'no': CSH-10174
                      - name: CASH DOMICILIARY - BENIN
                        'no': CSH-10175
                      - name: CASH DOMICILIARY - CALABAR
                        'no': CSH-10176
                      - name: CASH DOMICILIARY - ENUGU
                        'no': CSH-10177
                      - name: CASH DOMICILIARY - IBADAN
                        'no': CSH-10178
                      - name: CASH DOMICILIARY - ILORIN
                        'no': CSH-10179
                      - name: CASH DOMICILIARY - JOS
                        'no': CSH-10180
                      - name: CASH DOMICILIARY - KADUNA
                        'no': CSH-10181
                      - name: CASH DOMICILIARY - KANO
                        'no': CSH-10182
                      - name: CASH DOMICILIARY - KATSINA
                        'no': CSH-10183
                      - name: CASH DOMICILIARY - MAIDUGURI
                        'no': CSH-10184
                      - name: CASH DOMICILIARY - MAKURDI
                        'no': CSH-10185
                      - name: CASH DOMICILIARY - MINNA
                        'no': CSH-10186
                      - name: CASH DOMICILIARY - MMA
                        'no': CSH-10187
                      - name: CASH DOMICILIARY - OSUBI
                        'no': CSH-10188
                      - name: CASH DOMICILIARY - PHC
                        'no': CSH-10189
                      - name: CASH DOMICILIARY - SOKOTO
                        'no': CSH-10190
                      - name: CASH DOMICILIARY - YOLA
                        'no': CSH-10191
                      - name: CASH DOMICILIARY - ZARIA
                        'no': CSH-10192
                      - name: Airport Current A/C - Dollar ABUJA
                        'no': CSH-10193
                      - name: Airport Current A/C - Dollar AKURE
                        'no': CSH-10194
                      - name: Airport Current A/C - Dollar BENIN
                        'no': CSH-10195
                      - name: Airport Current A/C - Dollar CALABAR
                        'no': CSH-10196
                      - name: Airport Current A/C - Dollar ENUGU
                        'no': CSH-10197
                      - name: Airport Current A/C - Dollar IBADAN
                        'no': CSH-10198
                      - name: Airport Current A/C - Dollar ILORIN
                        'no': CSH-10199
                      - name: Airport Current A/C - Dollar JOS
                        'no': CSH-10200
                      - name: Airport Current A/C - Dollar KADUNA
                        'no': CSH-10201
                      - name: Airport Current A/C - Dollar KANO
                        'no': CSH-10202
                      - name: Airport Current A/C - Dollar KATSINA
                        'no': CSH-10203
                      - name: Airport Current A/C - Dollar MAIDUGURI
                        'no': CSH-10204
                      - name: Airport Current A/C - Dollar MAKURDI
                        'no': CSH-10205
                      - name: Airport Current A/C - Dollar MINNA
                        'no': CSH-10206
                      - name: Airport Current A/C - Dollar MMA
                        'no': CSH-10207
                      - name: Airport Current A/C - Dollar OSUBI
                        'no': CSH-10208
                      - name: Airport Current A/C - Dollar OWERRI
                        'no': CSH-10209
                      - name: Airport Current A/C - Dollar PHC
                        'no': CSH-10210
                      - name: Airport Current A/C - Dollar SOKOTO
                        'no': CSH-10211
                      - name: Airport Current A/C - Dollar YOLA
                        'no': CSH-10212
                      - name: Airport Current A/C - Dollar ZARIA
                        'no': CSH-10213
                      - name: CASH DOMICILIARY - HEADQUARTERS
                        'no': CSH-10214
                      - name: Airport Current A/C - Dollar HEADQUARTERS
                        'no': CSH-10215
                      - name: ''
                        'no': CSH-10216
                      - name: TSA  Current A/C- CBN
                        'no': CSH-10217
                      - name: Gems bank
                        'no': GEMS
                  message:
                    type: string
                    example: Bank accounts fetched successfully
                  success:
                    type: boolean
                    example: true
              examples:
                Success Response:
                  value:
                    data:
                      - name: FBN-ABUJA-SAL A/C ...000076/00
                        'no': BNK-10001
                      - name: FBN- ABUJA REVENUE ACCOUNT
                        'no': BNK-10002
                      - name: FBN- ABUJA(PSC REVENUE A/C)
                        'no': BNK-10003
                      - name: CBN  A/C --Abuja
                        'no': BNK-10004
                      - name: UBN-PSC A/C-ABUJA
                        'no': BNK-10005
                      - name: OCEANIC BANK ABUJA REV.AC'5420
                        'no': BNK-10006
                      - name: FCMB ABUJA MTCE A/C'30375301
                        'no': BNK-10007
                      - name: ETB ABUJA DOM.AC'6034619811
                        'no': BNK-10008
                      - name: FBN-Akure Revenue
                        'no': BNK-10009
                      - name: FBN-Akure  Expenditure
                        'no': BNK-10010
                      - name: FBN=AKURE=SALARY=A/C'0000392
                        'no': BNK-10011
                      - name: OCEANIC BANK AKURE REV.A/C'663
                        'no': BNK-10012
                      - name: FCMB AKURE MTCE.A/C'727501
                        'no': BNK-10013
                      - name: FBN=BENIN=EXPENDITURE A/C'55
                        'no': BNK-10014
                      - name: FBN=BENIN=SALARY A/C'00046
                        'no': BNK-10015
                      - name: FBN=BENIN=REVENUE A/C'00037
                        'no': BNK-10016
                      - name: INLAND BANK=BENIN=SAL.A/C'5794
                        'no': BNK-10017
                      - name: OCEANIC BANK BENIN REV.A/C'963
                        'no': BNK-10018
                      - name: FBN BENIN SALARY A/C'0000046
                        'no': BNK-10019
                      - name: FCMB BENIN MTCE.A/C'120801
                        'no': BNK-10020
                      - name: ETB BENIN DOMICILARY A/C9818
                        'no': BNK-10021
                      - name: FBN-Calabar-Expenditure
                        'no': BNK-10022
                      - name: FBN-CALABAR-REVENUE A/C
                        'no': BNK-10023
                      - name: FBN=CALABAR=SALARY=A/C'8233
                        'no': BNK-10024
                      - name: OCEANIC BANK CALABAR.REV.A/C'3306
                        'no': BNK-10025
                      - name: FCMB CALABAR MTCE A/C'125901
                        'no': BNK-10026
                      - name: ETB CALABAR.DOM.A/C'6052601017
                        'no': BNK-10027
                      - name: FBN-Enugu Main Revenue
                        'no': BNK-10028
                      - name: FBN-Enugu  Expenditure A/c
                        'no': BNK-10029
                      - name: FBN=ENUGU=SALARY=A/C'77100
                        'no': BNK-10030
                      - name: AFEX BANK ENUGU-REVENUE A/C
                        'no': BNK-10031
                      - name: OCEANIC BANK ENUGU REV.A/C'366
                        'no': BNK-10032
                      - name: FCMB ENUGU MTCE.A/C'72401
                        'no': BNK-10033
                      - name: ETB ENUGU DOM.A/C'0034619817
                        'no': BNK-10034
                      - name: FEDERAL MORTGAGE BANK HQ
                        'no': BNK-10035
                      - name: ESTAPORT BUILDING SOCIETY HQ
                        'no': BNK-10036
                      - name: FBN-H/Q-Revenue-MMA--60909800
                        'no': BNK-10037
                      - name: FBN-HQ-Operational AC32270500
                        'no': BNK-10038
                      - name: FBN-HQ-Rev=2=MMA-1962040000064
                        'no': BNK-10039
                      - name: FBN-HQ-C/ACCT=MMA=2040000073
                        'no': BNK-10040
                      - name: FBN-HQ-P/COST =MMA="2040000055**
                        'no': BNK-10041
                      - name: PACIFIC MERCHANT BANK HQ- LAGOS
                        'no': BNK-10042
                      - name: MMB REV HQ (=N=)A/C 01F06021626
                        'no': BNK-10043
                      - name: ECO BANK-CAPITAL HQ A/C1215248913
                        'no': BNK-10044
                      - name: CBN-HQ Capital A/c
                        'no': BNK-10045
                      - name: UBN, Ikeja-HQ(SAL)-0104000531
                        'no': BNK-10046
                      - name: UBN Ikeja(Hq Rev =N)-104000603
                        'no': BNK-10047
                      - name: Union Bank,Ikeja-Hq Rev a/c($)
                        'no': BNK-10048
                      - name: Afex Bank,Ikeja-Hq Rev 4000109
                        'no': BNK-10049
                      - name: FCMB BANK PLC -HQ STAFF COST
                        'no': BNK-10050
                      - name: INLAND=BANK=INVEST HQ.A/C.
                        'no': BNK-10051
                      - name: FCMB BANK PLC HQ -  CONTRACTOR (CURRENT) A/C
                        'no': BNK-10052
                      - name: AFEX BANK NON CHQ.REVENUE
                        'no': BNK-10053
                      - name: INLAND BANK FOREX HQ A/C'0000174
                        'no': BNK-10054
                      - name: Hallmark Bank Ikeja Hq-O/h a/c
                        'no': BNK-10055
                      - name: AFRIBANK-IKJ  HQ C/A 441212616
                        'no': BNK-10056
                      - name: AFRIBANK LOAN A/C HQ LD0226200293
                        'no': BNK-10057
                      - name: HALLMARK BANK(SHD)HQ A/C'27819
                        'no': BNK-10058
                      - name: HALLMARK BANK REV.A/C HQ '37318**
                        'no': BNK-10059
                      - name: TRANS INTER BANK C/A HQ "304001422**
                        'no': BNK-10060
                      - name: TRANS INT.BANK HOUS.DED.A/C HQ**
                        'no': BNK-10061
                      - name: ECO BANK PLC -  HQ REVEVUE
                        'no': BNK-10062
                      - name: FCMB BANK PLC HQ - CONSTRUCTION & MTCE A/C
                        'no': BNK-10063
                      - name: EQUITORIAL TRUST BANK (ETB) LTD HQ - DOM REV
                        'no': BNK-10064
                      - name: EQUITORIAL TRUST BANK (ETB) LTD HQ - DOM EXP
                        'no': BNK-10065
                      - name: CBN HQTRS.EXP.A/C'0991-42-01-7**
                        'no': BNK-10066
                      - name: BANK PHB HQ- STAFF RENT DEDUCTION
                        'no': BNK-10067
                      - name: ZENITH BANK PLC HQ- FAAN AVII FUND
                        'no': BNK-10068
                      - name: ZENITH  BANK PLC HQ- .AVII FUND A/C.2-ABUJA
                        'no': BNK-10069
                      - name: ZENIT.BANK PLC HQ - PENSION FUND
                        'no': BNK-10070
                      - name: UNITED BANK FOR AFRICA ( UBA) HQ - AVII FUND-ABUJA
                        'no': BNK-10071
                      - name: FBN-Ibadan Revenue  A/c
                        'no': BNK-10072
                      - name: FBN-Ibadan Expenditure A/c
                        'no': BNK-10073
                      - name: FBN=IBADAN=SALARY=A/C'042701
                        'no': BNK-10074
                      - name: OCEANIC BANK IBADAN REVA/C'729
                        'no': BNK-10075
                      - name: FCMB IBADAN MTCE A/C'408501
                        'no': BNK-10076
                      - name: FBN ILORIN SALARY A/C'1458
                        'no': BNK-10077
                      - name: OCEANIC BANK ILORIN REV.AC'662
                        'no': BNK-10078
                      - name: FCMB ILORIN MTCE A/C'30137401
                        'no': BNK-10079
                      - name: ETB ILORIN DOM.AC'
                        'no': BNK-10080
                      - name: FBN JOS REVENUE A/C
                        'no': BNK-10081
                      - name: FBN JOS SALARY=A/C
                        'no': BNK-10082
                      - name: FBN JOS EXPENDITURE A/C'161
                        'no': BNK-10083
                      - name: INLAND BANK=JOS=EXP.A/C'8412
                        'no': BNK-10084
                      - name: OCEANIC BANK JOS REV.A/C'7131
                        'no': BNK-10085
                      - name: FCMB JOS MTCE.A/C'181901
                        'no': BNK-10086
                      - name: ETB  JOS DOM.A/C'6034619819
                        'no': BNK-10087
                      - name: FBN=KADUNA=SAL.A/C'0001120
                        'no': BNK-10088
                      - name: OCEANIC BANK KADUNA.REV.A/C'11077
                        'no': BNK-10089
                      - name: FCMB KADUNA MTCE.A/C'83501
                        'no': BNK-10090
                      - name: ETB KADUNA.DOM.A/C'6034619819
                        'no': BNK-10091
                      - name: FBN-Kano Expenditure  A/c
                        'no': BNK-10092
                      - name: FBN -KANO SALARY  A/C
                        'no': BNK-10093
                      - name: FBN=KANO=REVENUE=A/C'00091
                        'no': BNK-10094
                      - name: FIB KANO REV.A/C'100241885
                        'no': BNK-10095
                      - name: OCEANIC BANK KANO REV.A/C'7317
                        'no': BNK-10096
                      - name: FCMB KANO MTCE.A/C'19501
                        'no': BNK-10097
                      - name: ETB KANO DOM.A/C'34619811
                        'no': BNK-10098
                      - name: FBN KATSINA=SALARY A/C'3800
                        'no': BNK-10099
                      - name: FBN KATSINA=REVENUE=A/C'3802
                        'no': BNK-10100
                      - name: FBN=KATSINA=EXP=A/C'3801
                        'no': BNK-10101
                      - name: OCEANIC BANK KAT. REV.A/C'6038
                        'no': BNK-10102
                      - name: FCMB KATSINA MTCE.A/C'5110301
                        'no': BNK-10103
                      - name: FBN-Maiduguri  Revenue A/c
                        'no': BNK-10104
                      - name: FBN-Maiduguri Mtce Exp  A/c
                        'no': BNK-10105
                      - name: FBN-Maiduguri Salary  A/c
                        'no': BNK-10106
                      - name: INLAND BANK=M'GURI=EXP.A/C'012
                        'no': BNK-10107
                      - name: OCEANIC BANK M'GURI.REV.A/C'22
                        'no': BNK-10108
                      - name: FCMB M'GURI.MTCE.A/C'701
                        'no': BNK-10109
                      - name: ETB M'GURI.DOMICILARY A/C'7112
                        'no': BNK-10110
                      - name: FBN EXPENDITURE A/C-MAKURDI
                        'no': BNK-10111
                      - name: FBN=MAKURDI=REV.A/C'4600
                        'no': BNK-10112
                      - name: OCEANIC BANK MAK REV A/C '097
                        'no': BNK-10113
                      - name: FCMB MAKURDI MTCE A/C '0233601
                        'no': BNK-10114
                      - name: FBN=MINNA=REVENUE=A/C'12900
                        'no': BNK-10115
                      - name: FBN=MINNA=SALARY=A/C'311000
                        'no': BNK-10116
                      - name: FBN=MINNA=EXP.A/C'13700
                        'no': BNK-10117
                      - name: OCEANIC BANK MINNA REV.A/C'751
                        'no': BNK-10118
                      - name: FCMB MINNA MTCE.A/C'5070001
                        'no': BNK-10119
                      - name: FBN-MMA MTCE EXP**
                        'no': BNK-10120
                      - name: FBN-MMA SALARY
                        'no': BNK-10121
                      - name: INLAND BANK-MMA-REV.A/C'190029
                        'no': BNK-10122
                      - name: AFRIBANK IKJ=MMA REV441212624**
                        'no': BNK-10123
                      - name: FIB MMA (GAT) REV.A/C'14701**
                        'no': BNK-10124
                      - name: FIB MMA (HCT) REV.A/C'14601**
                        'no': BNK-10125
                      - name: FIB MMA (ITZ) REV.A/C'14801**
                        'no': BNK-10126
                      - name: FCMB MMIA MTCE A/C125430246701
                        'no': BNK-10127
                      - name: ETB MMA DOMA/C 6034619817
                        'no': BNK-10128
                      - name: ZENITH BANK PLC - MMIA  ITZ  REV REMITTANCE
                        'no': BNK-10129
                      - name: ZENITH BANK PLC - MMIA GAT REV REMITTANCE
                        'no': BNK-10130
[...]
